body{
    margin: 0;
}

.container{
    width: 70%;
    overflow: hidden;
    margin: auto;
}

.header{
    width: 100%;
    overflow: hidden;
    background: #b1b1b1;
}

.header .logo{
    font-size: 32px;
    float: left;
}

.header .navigation{
    float: left;
}