body{
    margin: 0;
}

.container{
    width: 70%;
    overflow: hidden;
    margin: auto;
}

.header{
    width: 100%;
    overflow: hidden;
    background: #b1b1b1;
}

.header .logo{
    font-size: 32px;
    float: left;
    font-family: 'Courier New', Courier, monospace;
}

.header .navigation{
    float: right;
    margin-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header .navigation li{
    float: right;
    margin-left: 20px;
    font-size: 30px;
    display: block;
}

.header .navigation li a{
    color: #ffffff;
    text-decoration: none;
}

.header .navigation li a:hover{
    color: red;
    text-decoration: underline;
}