body{
    margin: 0;
}

.container{
    width: 70%;
    overflow: hidden;
    margin: auto;
}

.header{
    width: 100%;
    overflow: hidden;
    background: #b1b1b1;
}

.header .logo{
    font-size: 32px;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header .navigation{
    float: right;
    margin-top: 40px;
    font-family: 'Lobster', cursive;
}

.header .navigation li{
    float: right;
    margin-left: 20px;
    font-size: 30px;
    display: block;
}

.header .navigation li a{
    color: #ffffff;
    text-decoration: none;
}

.header .navigation li a:hover{
    color: red;
    text-decoration: underline;
}

.ikon-kelas{
    width: 250px;
    height: 250px;
    background: red;
    border-radius: 50%;
}

.parent{
    margin-top: 100px;
}